
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  
  #title {
    padding: 4% 15% 10%;
  }
  
  .editor {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 30px;
  }
  
  .features {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
  
  
  /*  Designed for the Future */
  #future-section {
    padding: 6% 1% 1% 15%;
  }
  
  .section-textbox {
    padding-right: 6%;
    padding-top: 2%
  }
  
  .first-text {
    padding-right: 18%;
  }
  
  /* media querry for Designed-Future */
  @media (max-width: 991px) {
    .section-textbox {
      text-align: center;
    }
  }
  @media (min-width :768px){
    
  }
  
 
  
body{
    font-family: 'Overpass', sans-serif;
}
header{
    background: hsl(13, 100%, 72%);
    border-bottom-left-radius: 3rem;
}
div ul a li:hover{
    background: white;
    color: hsl(353, 100%, 62%);
    padding: 10px 2rem;
    border: 2rem;
    border-radius: 2rem;
}
.link-light{
    padding: 10px;
}
.link-light:hover{
    background: white;
    color:hsl(13, 100%, 72%);
    padding: 1rem;
    border-radius: 2rem;
}
.footer {
    border-top-right-radius: 3rem;
    height: auto;
    background: hsl(237, 17%, 21%);
}
